* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Cafe24Supermagic-Bold-v1.0', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

.btn {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

.btn-outline {
    background: transparent;
    color: #666;
    border: 1px solid #ddd;
}

.btn-outline:hover {
    background: #f8f9fa;
    border-color: #162D43;
    color: #162D43;
}

.btn-primary {
    background: #162D43;
    color: white;
}

.btn-primary:hover {
    background: #0f1f2f;
}

/* 헤더 스타일 */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    z-index: 1000;
    padding: 20px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.header-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container a{
    text-decoration:none;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    font-size: 32px;
    font-weight: 800;
    color: #162D43;
    text-decoration: none;
    letter-spacing: -0.5px;
}
.nav-menu {
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-menu a {
    text-decoration: none;
    color: #1d1d1f;
    font-weight: 500;
    transition: color 0.3s;
    font-size: 19px;
}

.nav-menu a:hover {
    color: #162D43;
}

/* Search Section */
.search-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.search-form {
    display: flex;
    gap: 15px;
    max-width: 800px;
    margin: 0 auto;
}

.search-input {
    min-width: 500px;
    flex: 1;
    padding: 15px 20px;
    border: 2px solid #e9ecef;
    border-radius: 8px;
    font-size: 16px;
}

.search-input:focus {
    outline: none;
    border-color: #162D43;
}

.search-btn {
    padding: 15px 30px;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background: #162D43;
}
/* header end */