target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/webContexts.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
src/main/webapp/WEB-INF/spring/
src/main/resources/
.idea/dataSources.xml
.idea/encodings.xml
.idea/sqldialects.xml

# /resources/images/ 폴더 안의 이미지 파일 무시
src/main/webapp/resources/images/*.jpg
src/main/webapp/resources/images/*.png
src/main/webapp/resources/images/*.jpeg
src/main/webapp/resources/images/*.gif
src/main/webapp/resources/images/*.bmp
src/main/webapp/resources/images/*.webp
src/main/webapp/resources/images/*.svg
src/main/webapp/resources/images/*.ico

!src/main/webapp/resources/images/logo.png
!src/main/webapp/resources/images/bell-icon.png
!src/main/webapp/resources/upload/instructor/profile/default_profile_instructor.png
!src/main/webapp/resources/upload/student/profile/default_profile_student.png

# /resources/upload/ 폴더 안의 이미지, PDF, 영상 파일 무시
src/main/webapp/resources/upload/*.jpg
src/main/webapp/resources/upload/*.jpeg
src/main/webapp/resources/upload/*.png
src/main/webapp/resources/upload/*.gif
src/main/webapp/resources/upload/*.bmp
src/main/webapp/resources/upload/*.webp
src/main/webapp/resources/upload/*.svg
src/main/webapp/resources/upload/*.ico

src/main/webapp/resources/upload/*.pdf

src/main/webapp/resources/upload/*.mp4
src/main/webapp/resources/upload/*.avi
src/main/webapp/resources/upload/*.mov
src/main/webapp/resources/upload/*.mkv
src/main/webapp/resources/upload/*.flv
src/main/webapp/resources/upload/*.wmv
src/main/webapp/resources/upload/*.webm

!src/main/webapp/resources/upload/main.mp4
