target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
.idea/webContexts.xml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
src/main/webapp/WEB-INF/spring/
src/main/resources/
.idea/dataSources.xml
.idea/encodings.xml
.idea/sqldialects.xml

# /resources/images/ 폴더 안의 이미지 파일 무시
/resources/images/*.jpg
/resources/images/*.png
/resources/images/*.jpeg
/resources/images/*.png
/resources/images/*.gif
/resources/images/*.bmp
/resources/images/*.webp
/resources/images/*.svg
/resources/images/*.ico

!/resources/images/logo.png
!/resources/images/bell-icon.png


# /resources/upload/ 폴더 안의 이미지, PDF, 영상 파일 무시
/resources/upload/*.jpg
/resources/upload/*.jpeg
/resources/upload/*.png
/resources/upload/*.gif
/resources/upload/*.bmp
/resources/upload/*.webp
/resources/upload/*.svg
/resources/upload/*.ico

/resources/upload/*.pdf

/resources/upload/*.mp4
/resources/upload/*.avi
/resources/upload/*.mov
/resources/upload/*.mkv
/resources/upload/*.flv
/resources/upload/*.wmv
/resources/upload/*.webm

!/resources/upload/main.mp4
